<a href="https://colab.research.google.com/github/Reemasree/Sentiment-Analysis---Major-Project/blob/main/Major_Project_Lexiconbased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** SENTIMENT ANALYSIS USING PYTHON- LEXICON BASED APPROACH (VADER SENTIMENT)**

In [ ]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2020.12.5)

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
vs = SentimentIntensityAnalyzer()

In [ ]:
text = "The product is good except batter"
vs.polarity_scores(text)

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.633, 'pos': 0.367}

In [ ]:
#  WEB SCRAPING
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import os

In [ ]:
urls = ['https://inshorts.com/en/read/politics','https://inshorts.com/en/read/business','https://inshorts.com/en/read/world']

def build_dataframe(urls):
  news_data = []
  for url in urls:
    news_category = url.split('/')[-1]   # to get the last category in the url
    data = requests.get(url)
    soup = BeautifulSoup(data.content)

    news_articles = [{'news_headline': headline.find('span',attrs={"itemprop":"headline"}).string,  # to know the headlin
                      'news_article': article.find('div',attrs={"itemprop":"articleBody"}).string, #to know the entire paragraph
                      'news_category': news_category}

                      for headline,article in zip(soup.find_all('div',class_=["news-card-title news-right-box"]),
                                                  soup.find_all('div',class_=["news-card-content news-right-box"]))]

    news_articles = news_articles[0:30]
    news_data.extend(news_articles)
  df=pd.DataFrame(news_data)
  df =df[['news_headline','news_article','news_category']]
  return df

In [ ]:
df = build_dataframe(urls)
df

                                        news_headline  ... news_category
0   Assam CM to contest polls from Majuli; Himanta...  ...      politics
1   BJP names ex-Bengal minister Suvendu as Nandig...  ...      politics
2   TMC leader denied poll ticket; his supporters ...  ...      politics
3   Former TMC MP Dinesh Trivedi joins BJP ahead o...  ...      politics
4   AIADMK allots 20 Tamil Nadu Assembly seats, Ka...  ...      politics
..                                                ...  ...           ...
70  Treasury yields signal recovery, not inflation...  ...         world
71  We don’t take advice from Trump on immigration...  ...         world
72  Being a royal is different than what people im...  ...         world
73  Aus broadcaster suspends China's CGTN, CCTV ov...  ...         world
74  Direct attack on democracy: US on China's move...  ...         world

[75 rows x 3 columns]

In [ ]:

#saving the dataset for future reference
df.to_csv('news.csv',index=False)

PREPROCESSING

In [ ]:
# Dealing with punctuation and numbers
import re
def remove_sp(text):
  pattern = r'[^A-Za-z \s]'
  text = re.sub(pattern,'',text)
  return text

In [ ]:
# Tokenization and removing stop words
import nltk
nltk.download('stopwords')
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')

from nltk.tokenize.toktok import ToktokTokenizer
tokenizer = ToktokTokenizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:

def remove_stopwords(text):
  tokens = tokenizer.tokenize(text)
  tokens = [token.strip() for token in tokens]
  filtered_tokens = [token for token in tokens if token not in stopword_list]
  filtered_text = ' '.join(filtered_tokens)

  return filtered_text

In [ ]:
df

                                        news_headline  ... news_category
0   Assam CM to contest polls from Majuli; Himanta...  ...      politics
1   BJP names ex-Bengal minister Suvendu as Nandig...  ...      politics
2   TMC leader denied poll ticket; his supporters ...  ...      politics
3   Former TMC MP Dinesh Trivedi joins BJP ahead o...  ...      politics
4   AIADMK allots 20 Tamil Nadu Assembly seats, Ka...  ...      politics
..                                                ...  ...           ...
70  Treasury yields signal recovery, not inflation...  ...         world
71  We don’t take advice from Trump on immigration...  ...         world
72  Being a royal is different than what people im...  ...         world
73  Aus broadcaster suspends China's CGTN, CCTV ov...  ...         world
74  Direct attack on democracy: US on China's move...  ...         world

[75 rows x 3 columns]

In [ ]:
#converting to lower case
df.news_article = df.news_article.apply(lambda x: x.lower())
df.news_headline = df.news_headline.apply(lambda x: x.lower())

#removing punctuation and numbers
df.news_article = df.news_article.apply(remove_sp)
df.news_headline = df.news_headline.apply(remove_sp)
print(df)
#tokenization
df.news_article = df.news_article.apply(remove_stopwords)
df.news_headline = df.news_headline.apply(remove_stopwords)
df

                                        news_headline  ... news_category
0   assam cm to contest polls from majuli himanta ...  ...      politics
1   bjp names exbengal minister suvendu as nandigr...  ...      politics
2   tmc leader denied poll ticket his supporters t...  ...      politics
3   former tmc mp dinesh trivedi joins bjp ahead o...  ...      politics
4   aiadmk allots  tamil nadu assembly seats kanya...  ...      politics
..                                                ...  ...           ...
70  treasury yields signal recovery not inflation ...  ...         world
71  we dont take advice from trump on immigration ...  ...         world
72  being a royal is different than what people im...  ...         world
73  aus broadcaster suspends chinas cgtn cctv over...  ...         world
74  direct attack on democracy us on chinas move t...  ...         world

[75 rows x 3 columns]

                                        news_headline  ... news_category
0   assam cm contest polls majuli himanta biswa fi...  ...      politics
1   bjp names exbengal minister suvendu nandigram ...  ...      politics
2   tmc leader denied poll ticket supporters torch...  ...      politics
3   former tmc mp dinesh trivedi joins bjp ahead w...  ...      politics
4   aiadmk allots tamil nadu assembly seats kanyak...  ...      politics
..                                                ...  ...           ...
70  treasury yields signal recovery not inflation ...  ...         world
71  dont take advice trump immigration policy whit...  ...         world
72              royal different people imagine meghan  ...         world
73  aus broadcaster suspends chinas cgtn cctv huma...  ...         world
74  direct attack democracy us chinas move alter h...  ...         world

[75 rows x 3 columns]

In [ ]:
#stemming and lemmetization
from nltk.stem import PorterStemmer
ps = PorterStemmer()

def stemming(tokenized_text):
  text = [ps.stem(tokenized_text) for word in tokenized_text]
  new_text = ' '.join(text)
  return new_text
df

                                        news_headline  ... news_category
0   assam cm contest polls majuli himanta biswa fi...  ...      politics
1   bjp names exbengal minister suvendu nandigram ...  ...      politics
2   tmc leader denied poll ticket supporters torch...  ...      politics
3   former tmc mp dinesh trivedi joins bjp ahead w...  ...      politics
4   aiadmk allots tamil nadu assembly seats kanyak...  ...      politics
..                                                ...  ...           ...
70  treasury yields signal recovery not inflation ...  ...         world
71  dont take advice trump immigration policy whit...  ...         world
72              royal different people imagine meghan  ...         world
73  aus broadcaster suspends chinas cgtn cctv huma...  ...         world
74  direct attack democracy us chinas move alter h...  ...         world

[75 rows x 3 columns]

In [ ]:
df.news_article = df.news_article.apply(stemming)
df.news_headline = df.news_headline.apply(stemming)
df.head()

                                       news_headline  ... news_category
0  assam cm contest polls majuli himanta biswa fi...  ...      politics
1  bjp names exbengal minister suvendu nandigram ...  ...      politics
2  tmc leader denied poll ticket supporters torch...  ...      politics
3  former tmc mp dinesh trivedi joins bjp ahead w...  ...      politics
4  aiadmk allots tamil nadu assembly seats kanyak...  ...      politics

[5 rows x 3 columns]

APPROACH TO SENTIMENT ANALYSIS

In [ ]:
df['compound'] = df['news_article'].apply(lambda x: vs.polarity_scores(x)['compound'])

In [ ]:
df
#postitive statement - compound > 0.05
#neutral statement - compoung > -0.05 and compound < 0.05
#negative statement - compound <= -0.05

                                        news_headline  ... compound
0   assam cm contest polls majuli himanta biswa fi...  ...   1.0000
1   bjp names exbengal minister suvendu nandigram ...  ...   0.9915
2   tmc leader denied poll ticket supporters torch...  ...   1.0000
3   former tmc mp dinesh trivedi joins bjp ahead w...  ...   1.0000
4   aiadmk allots tamil nadu assembly seats kanyak...  ...   1.0000
..                                                ...  ...      ...
70  treasury yields signal recovery not inflation ...  ...   1.0000
71  dont take advice trump immigration policy whit...  ...   0.9924
72  royal different people imagine meghan royal di...  ...  -1.0000
73  aus broadcaster suspends chinas cgtn cctv huma...  ...  -1.0000
74  direct attack democracy us chinas move alter h...  ...  -1.0000

[75 rows x 4 columns]

In [ ]:
df['Sentiment'] = df['compound'].apply(lambda x: 'Positive' if x >0.05  else ( 'Neutral' if x >-0.05 and x<0.05 else 'Negative'))

In [ ]:
df

                                        news_headline  ... Sentiment
0   assam cm contest polls majuli himanta biswa fi...  ...  Positive
1   bjp names exbengal minister suvendu nandigram ...  ...  Positive
2   tmc leader denied poll ticket supporters torch...  ...  Positive
3   former tmc mp dinesh trivedi joins bjp ahead w...  ...  Positive
4   aiadmk allots tamil nadu assembly seats kanyak...  ...  Positive
..                                                ...  ...       ...
70  treasury yields signal recovery not inflation ...  ...  Positive
71  dont take advice trump immigration policy whit...  ...  Positive
72  royal different people imagine meghan royal di...  ...  Negative
73  aus broadcaster suspends chinas cgtn cctv huma...  ...  Negative
74  direct attack democracy us chinas move alter h...  ...  Negative

[75 rows x 5 columns]

In [ ]:
data = pd.DataFrame(df[['news_article', 'compound', 'Sentiment']].copy())

In [287]:
vs.polarity_scores("It is not good enough")

{'compound': -0.3412, 'neg': 0.376, 'neu': 0.624, 'pos': 0.0}